In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
fol_data = '../offline_data'

In [6]:
fname = fol_data + '/dog_data/20151001hundehalter.csv'
df1 = pd.read_csv(fname)
fname = fol_data + '/dog_data/20160307hundehalter.csv'
df2 = pd.read_csv(fname)
fname = fol_data + '/dog_data/20170308hundehalter.csv'
df3 = pd.read_csv(fname)

## German conversions
- ALTER -> Age
- GESCHLECHT -> Gender
- STADTKREIS -> City Quarter or District
- RASSE1 -> Dog's Primary Breed
- RASSE2 -> Dog's Secondary Breed
- GEBURTSJAHR_HUND -> Dog's Year of Birth
- GESCHLECHT_HUND -> Dog's Gender
- HUNDEFARBE -> Dog's Color

In [27]:
df1 = df1.set_index('HALTER_ID')
df2 = df2.set_index('HALTER_ID')
df3 = df3.set_index('HALTER_ID')

## Questions
- Most popular breeds, genders, colors (ranking)
- Do women or men owners prefer a certain dog gender?
- total dogs born each year
- breed distribution by year
- gender distribution by year

In [63]:
# 10 most popular dog colors, black is most popular
breed = df1.groupby("HUNDEFARBE").count()
breed = breed.sort_values('ALTER',ascending=False)
breed.head(10)

,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND
HUNDEFARBE,,,,,,,,,,,
schwarz,763,764,763,763,764,79,70,0,724,764,764
tricolor,669,669,668,668,669,75,54,0,652,669,669
weiss,544,544,544,544,544,30,22,0,527,544,544
braun,530,530,530,530,530,47,34,0,520,530,530
schwarz/weiss,443,443,443,443,443,62,51,0,429,443,443
schwarz/braun,363,363,363,363,363,48,55,0,356,363,363
beige,342,342,342,342,342,28,20,0,338,342,342
braun/weiss,215,215,215,215,215,23,22,0,213,215,215
weiss/braun,196,196,196,196,196,26,10,0,194,196,196
black/tan,165,165,165,165,165,4,5,0,157,165,165

### Mixed small breed
<img src="https://zergportal.de/files/Hund2_680855.jpeg" alt="Mixed small breed" width="200"/>

In [64]:
# 10 most popular dog colors, Mixed small breed is most popular followed by Chihuahua
breed = df1.groupby("RASSE1").count()
breed = breed.sort_values('ALTER',ascending=False)
breed.head(10)

,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE
RASSE1,,,,,,,,,,,
Mischling klein,652,652,652,652,5,1,0,652,652,652,652
Chihuahua,495,495,495,495,12,21,0,495,495,495,495
Labrador Retriever,446,446,446,446,49,57,0,446,446,446,446
Jack Russel Terrier,298,298,298,298,34,16,0,298,298,298,298
Yorkshire Terrier,280,280,280,280,15,10,0,280,280,280,280
Malteser,192,192,192,192,20,19,0,192,192,192,192
Mops,178,178,178,178,2,13,0,178,178,178,178
Golden Retriever,174,174,174,174,9,22,0,174,174,174,174
Französische Bulldogge,170,170,170,170,1,2,0,170,170,170,170
Mischling gross,136,136,136,136,1,0,0,136,136,136,136

In [65]:
# There is an even distribution of dog genders
breed = df1.groupby("GESCHLECHT_HUND").count()
breed = breed.sort_values('ALTER',ascending=False)
breed.head(10)

,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,HUNDEFARBE
GESCHLECHT_HUND,,,,,,,,,,,
w,3548,3549,3548,3548,3549,359,275,0,3466,3549,3549
m,3430,3431,3430,3430,3431,309,262,0,3340,3431,3431

In [66]:
# However, women are by far more likely to own a dog!
breed = df1.groupby("GESCHLECHT").count()
breed = breed.sort_values('ALTER',ascending=False)
breed.head(10)

,ALTER,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE
GESCHLECHT,,,,,,,,,,,
w,4782,4782,4782,4782,442,365,0,4648,4782,4782,4782
m,2196,2196,2196,2198,226,172,0,2158,2198,2198,2198

In [34]:
df1

,ALTER,GESCHLECHT,STADTKREIS,STADTQUARTIER,RASSE1,RASSE1_MISCHLING,RASSE2,RASSE2_MISCHLING,RASSENTYP,GEBURTSJAHR_HUND,GESCHLECHT_HUND,HUNDEFARBE
HALTER_ID,,,,,,,,,,,,
126,51-60,m,9.0,92.0,Welsh Terrier,NaN,NaN,NaN,K,2011,w,schwarz/braun
574,61-70,w,2.0,23.0,Cairn Terrier,NaN,NaN,NaN,K,2002,w,brindle
695,41-50,m,6.0,63.0,Labrador Retriever,NaN,NaN,NaN,I,2012,w,braun
893,61-70,w,7.0,71.0,Mittelschnauzer,NaN,NaN,NaN,I,2010,w,schwarz
1177,51-60,m,10.0,102.0,Shih Tzu,NaN,NaN,NaN,K,2011,m,schwarz/weiss
...,...,...,...,...,...,...,...,...,...,...,...,...
128471,21-30,w,8.0,83.0,Tibetan Spaniel,NaN,NaN,NaN,K,2007,w,braun/beige
128471,21-30,w,8.0,83.0,Rottweiler,NaN,NaN,NaN,I,2014,m,schwarz/rot
128479,51-60,w,6.0,63.0,Lagotto Romagnolo,Mischling,NaN,NaN,I,2007,m,weiss/grau
128482,21-30,w,9.0,91.0,Yorkshire Terrier,NaN,NaN,NaN,K,2015,w,schwarz/braun/grau
128485,21-30,w,7.0,74.0,Magyar Viszla,NaN,NaN,NaN,I,2014,w,gelb